<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="autobusMapper">
    <select id="getAutobusById" resultMap="autobusMapper">
        SELECT A.ID AS AUTOBUS_ID, A.MODEL, A.MAX_WEIGHT, A.CREATED_AT AS AUTOBUS_CREATED_AT, T.ID AS TRANSPORT_ID, T.TYPE,
            T.CREATED_AT AS TRANSPORT_CREATED_AT FROM waydb.autobuses A LEFT JOIN transport T ON A.TRANSPORT_ID = T.ID WHERE A.ID = #{id};
    </select>
    <resultMap id="autobusMapper" type="com.roxoft.trainingteamone.models.Autobus" autoMapping="false">
        <id property="id" column="AUTOBUS_ID"/>
        <result property="model" column="MODEL"/>
        <result property="maxWeight" column="MAX_WEIGHT"/>
        <result property="createdAt" column="AUTOBUS_CREATED_AT"/>
        <association property="transport" resultMap="transportMapper.transportResultMap"/>
    </resultMap>

</mapper>