<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="transportMapper">
    <select id="getTransportById" resultMap="transportResultMap">
        SELECT T.ID AS TRANSPORT_ID, T.TYPE, T.CREATED_AT AS TRANSPORT_CREATED_AT FROM waydb.transport WHERE T.ID = #{id}
    </select>
    <resultMap id="transportResultMap" type="com.roxoft.trainingteamone.models.Transport" autoMapping="false">
        <id property="id" column="TRANSPORT_ID"/>
        <result property="type" column="TYPE"/>
        <result property="createdAt" column="TRANSPORT_CREATED_AT"/>
    </resultMap>
</mapper>
